<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}
        {% block content %}
            <h1>
                Hello!!!
            </h1>

            <br>
            {% if api %}
                {% if api == 'Error...' %}
                    There was an error. Try again later.
                {% else %}
                    Air Quality: {{ api.0.AQI }}<br/>
                    Area: {{ api.0.ReportingArea }}<br/>
                    Category: {{ api.0.Category.Name }}<br/>
                {% endif %}
            {% endif %}

        {% endblock %}
</body>
</html>