<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}
        {% block content %}
            <br>
            {% if zipcode %}
                {{ zipcode }}
            {% endif %}
            <br>
            {% if api %}
                {% if api == 'Error...' %}
                    There was an error. Try again later.
                {% else %}
                    <div class="jumbotron {{ category_color }}">
                      <h1 class="display-4">{{ api.0.Category.Name }}</h1>
                      <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>

                        <p>{{ category_description }}</p>


                    </div>

                {% endif %}
            {% endif %}

        {% endblock %}
</body>
</html>